# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Excel local data
data/*.xlsx
data/backups/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/